<% @loggedin = true %>

<div class="section">
  <div>

    <h1>Change repayment day</h1>
    <p class="intro">Thanks for changing your repayment day.</p>

    <p><a href="index.html">Back to change repayment day again</a></p>
  </div>
</div>
