
<div class="section">
  <div>
    <h1>Zopa's prototyping playground</h1>

    <p class="intro">The following sitemap lists all project pages. You might also be interested in the <a href="/help/styleguide.html">style guide</a> and <a href="/help/fire-app.html">help with Fire.app</a>.</p>

    <ul>
      <%
        files = Dir.glob("{borrowers,lenders}/**/*.html.erb").sort
        files.each do |file|
          filebasename = File.basename(file, '.erb')
          filename = File.join(File.dirname(file), filebasename)
          unless filebasename.start_with? '_' %>
            <li><a href="/<%= filename %>"><%= filename %></a></li>
          <% end %>
        <% end
      %>
    </ul>
    <ul>
      <%
        files = Dir.glob("{borrowers,lenders}/**/*.html.haml").sort
        files.each do |file|
          filebasename = File.basename(file, '.haml')
          filename = File.join(File.dirname(file), filebasename)
          unless filebasename.start_with? '_' %>
            <li><a href="/<%= filename %>"><%= filename %></a></li>
          <% end %>
        <% end
      %>
    </ul>

  </div>
</div>
