
<!-- Institutional credit info 13 -->

<img alt="" class="right" height="66" src="assets/zopa-logo.png" width="105">

<h2 style="margin-top: 0;">Pre-Contract Credit Information</h2>

<br/>
<br/>
<p>CREDIT CONDITIONS INFORMATION WILL FOLLOW HERE....</p>


