
<img alt="" class="right" height="66" src="assets/zopa-logo.png" width="105">
  <!-- Institutional contract 13 -->

<h2 style="margin-top: 0;">Fixed Sum Loan Agreement4</h2>

<p>Lender: <span class="dynamic">P2P Global Investments PLC</span> c/o Zopa Limited of 6th Floor, 90 Fetter Lane, London. EC4A 1EN,  (company registration No.  05197592);  (“Lender”, “we”, “us”, “our”);</p>

<p>Borrower: <span class="dynamic">Mr Bob Smith</span> c/o Zopa Limited of 6th Floor, 90 Fetter Lane, London. EC4A 1EN,  (company registration No.  05197592)  (“Borrower”, “you”, “your”)</p>


<h2>Key Financial Information</h2>

<table>
  <tbody><tr>
    <td>Duration of this Agreement:</td>
    <td><span class="dynamic">12</span> months</td>
  </tr>
  <tr>
    <td>Amount of Credit:</td>
    <td>
      <span class="dynamic">£2,500.00</span><br>
      (see clause 1 of the Loan Conditions in relation to drawdown and disbursement)
    </td>
  </tr>
  <tr>
    <td>Rate of Interest:</td>
    <td><span class="dynamic">0%</span> per annum (fixed)</td>
  </tr>
  <tr>
    <td>Total Amount Payable:</td>
    <td>
      <span class="dynamic">£2,500.00</span><br>
      (see clause 5.1 of the Loan Conditions)
    </td>
  </tr>
  <tr>
    <td>APR:</td>
    <td>
      <span class="dynamic">0%</span><br>
      The rate has been set according to the interest rate available via the Lending Platform (as defined in clause 16 of the Loan Conditions) and the Borrowing Fee (also defined in clause 16) which includes an amount estimated by Zopa to reflect the potential for a Default, based on your Credit Rating;
    </td>
  </tr>
</tbody></table>
<br/>
<br/>
<p>LOAN CONTRACT INFORMATION WILL FOLLOW HERE....</p>