<div class="section">
  <div>

    <form action="#">

      <h2>Address history</h2>
      <p>We need your UK address history for the last 3 years</p>

      <%= render '/_includes/components/address/address', locals: { history: 0 } %>

    </form>
  </div>
</div>