
<% content_for :styles do %>
  <%= stylesheet_link_tag "content/frontend-test" %>
<% end %>

<div class="section">
  <div>

    <h1>Zopa Principles</h1>

    <p>Last updated 14/08/2015</p>

    <h2>Table of contents</h2>
    <ol>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#eligibility">Customer Eligibility and registration</a></li>
      <li><a href="#my-zopa">My Zopa account</a></li>
      <li><a href="#lending">Zopa Lending</a></li>
      <li><a href="#borrowing">Borrowing</a></li>
      <li><a href="#loan-administration">Zopa Loan Administration</a></li>
      <li><a href="#customers-account">The Zopa Customers' Account</a></li>
      <li><a href="#fees">Fees and Charges</a></li>
      <li><a href="#amendments-to-principles">Amendments to the Zopa Principles</a></li>
      <li><a href="#close-account">Closing Your My Zopa account</a></li>
      <li><a href="#privacy">Privacy and Data Protection</a></li>
      <li><a href="#customer-content-and-use">Your Customer Content and Use of the Lending Platform</a></li>
      <li><a href="#cookies">Cookies and IP Addresses</a></li>
      <li><a href="#zopa-information">Use of Zopa Information</a></li>
      <li><a href="#lending-platform">Using Information on the Lending Platform</a></li>
      <li><a href="#liability">Limits on Liability</a></li>
      <li><a href="#general">General</a></li>
      <li><a href="#complaints">Complaints Handling Process</a></li>
      <li><a href="#legal-status">Our Legal and Regulatory Status and Supervision</a></li>
      <li><a href="#terms">Defined Terms</a></li>
    </ol>
  </div>
</div>

<div class="section">
  <div>

    <h2 id="introduction">1. Introduction</h2>
    <ol class="terms">
      <li>These terms and conditions, <strong>(“Principles”)</strong> govern the operation and use of the Zopa Lending Platform, an internet marketplace for putting Lenders and Borrowers in touch with each other. By accepting these Principles you acknowledge that you have also read and understood our conflicts policy (available at <a href="/conflicts-policy">Zopa conflicts policy</a>) and risk
        statement
        (available at <a href="/lending/what-are-the-risks">Zopa lenders’ risk statement</a>). In these Principles <strong>"we", "us" and "our"</strong> mean Zopa Limited and <strong>"you"</strong> and <strong>"your"</strong> mean the Zopa Customer (acting as a Borrower and/or a Lender as the context requires). Other words to which we have given a particular meaning begin with a capital
        letter and are defined either where they first appear or in Principle
        20. Headings are included to help you locate the relevant provisions, but do not influence the meaning of those provisions. These Principles regulate the relationship between Zopa, Zopa Customers and P2PS Limited. The relationship between Lenders and Borrowers is also regulated by these Principles except in relation to lending, which is regulated by a Loan Contract. Zopa Limited is not
        a party to any Loan Contracts between Lenders and Borrowers, except to the extent that it acts as a Lender in relation to
        any specific Loan Contract. Our function is to operate the Lending Platform. The roles of P2PS Limited and the Collections Agency are specified in the applicable provisions of Principle 6, which apply after Loan Contracts have been formed.
      </li>
      <li>
        The Lending Platform operates by instant matching of Market Offers made by Lenders under Principle 4 with Confirmed Bids made by Borrowers under Principle 5, which produces each Loan Contract (except where a Lender is a Lending Business, in which case the Loan Contract is formed when the Borrower electronically counter-signs the credit agreement corresponding to that Lending Business’s
        Market Offer). This means you will be given the opportunity to read and agree the basis on which Loan Contracts will be entered into before you make any Market Offer(s) or Confirmed Bid(s), as the case may be, but not after matching has occurred.
      </li>
      <li>
        By accepting these Principles you are accepting that:
        <ol>
          <li>the Loan Conditions will be incorporated into every Loan Contract;</li>
          <li>the Lending Platform processes each Borrower's direct debits in relation to Repayments and credits principal and interest to Lenders and any fees or charges to the persons to whom those fees are due and payable;</li>
          <li>each Lender sub-contracts to us and the Collections Agency the collection of any missed Repayments due from Borrowers in accordance with Applicable Law, the provisions of the Zopa Principles and each Loan Contract;</li>
          <li>in order to fund the Zopa Safeguard Trust (where applicable to a Loan Contract), we will pay to P2PS Limited the proportion of the Borrowing Fee estimated by us to reflect the potential for a Default under each relevant Loan Contract, based on the Credit Rating applicable to the Borrower under the Loan Contract and an assessment of whether there are sufficient funds in the Zopa
            Safeguard Trust. That amount will be held on trust by P2PS Limited on behalf of the relevant Lenders in the Zopa Safeguard Funds Account. The perpetuity period of the Zopa Safeguard Trust shall be 125 years.
          </li>
        </ol>
      </li>
      <li>
        Each time a Loan Contract is formed, details of the amount lent or borrowed will be recorded in each Lender and Borrower’s My Zopa account. While the name of the Lender and Borrower will appear in each Loan Contract, with their address given as care of Zopa, the identity of each Zopa Customer will not be disclosed to any other Zopa Customer, except where it is necessary to do so as part
        of court or other enforcement proceedings for the recovery of amounts due and payable under any Loan Contract or otherwise in accordance with Principle 11 or to comply with Applicable Law.
      </li>
    </ol>


    <h2 id="eligibility">2. Customer Eligibility and registration</h2>
    <ol class="terms">
      <li>To register with us you must meet our Eligibility Criteria. This means that, subject to Principle 2.2.2:
        <ol>
          <li>you must be an individual, at least 18 years old, living in the United Kingdom (<strong>"UK"</strong>); and</li>
          <li>you must have a current account in your own name with a UK bank.</li>
        </ol>
      </li>
      <li>To be eligible as a Lender, you must either:
        <ol>
          <li>not be lending in the course of any business; or</li>
          <li>be an individual or legal entity authorised and regulated by the Financial Conduct Authority to carry on the activity of entering into a regulated credit agreement as lender or specifically exempt from that activity (<strong>“Lending Business”</strong>).</li>
        </ol>
      </li>
      <li>To be eligible as a Business Borrower, in addition to satisfying the criteria specified in Principle 2.1:
        <ol>
          <li>You must be a sole trader operating a business that is
            <ol>
              <li>based in the UK with an annual turnover not exceeding £75,000,000;</li>
              <li>not operating in any Prohibited Sectors;</li>
            </ol>
          </li>
          <li>You must not have a material interest in any business that operates in any of the Prohibited Sectors; and</li>
          <li>You must only be seeking a loan in an amount between £1,000 and £25,000 with a loan term of no more than 60 months.</li>
        </ol>
      </li>
      <li>If you meet our Eligibility Criteria, you can register with us as a Zopa Customer. As part of this process:
        <ol>
          <li>we may:
            <ol>
              <li>make identity, fraud and credit checks;</li>
              <li>obtain a Credit Rating for you from the credit reference agency we use;</li>
            </ol>
          </li>
          <li>we will carry out Anti-Money Laundering checks on our own behalf and on behalf of Lenders; and</li>
          <li>you will specify your Passcodes.</li>
        </ol>
      </li>
      <li>When these steps have been completed, we will register you as a Zopa Customer, give you Passcodes and set up My Zopa for you.</li>
      <li>If we are unable to complete any steps in Principle 2.4, we will not register you as a Zopa Customer.</li>
    </ol>

    <h2 id="my-zopa">3. My Zopa account</h2>
    <ol class="terms">
      <li>To lend or borrow through the Lending Platform you must log on to My Zopa.</li>
      <li>When you enter My Zopa we will check your identity by asking for Passcodes. As long as the correct email address and Passcodes are entered, we will assume that you are the person giving instructions and making transactions and you will be liable for them, except to the extent provided for in Principle 3.6. You must therefore keep your Passcodes secret (as well as other codes that
        protect access to your Nominated Account) and make sure that they are not stored on your computer or other device in a way that enables others to impersonate you. In addition, for the avoidance of doubt, if you disclose your Passcodes to any person or entity whom you employ or otherwise retain, appoint or authorise to access to My Zopa, you are also responsible and liable for any
        access, use or misuse or disclosure of your Passcodes or My Zopa by such person or entity.
      </li>
      <li>We can refuse to act on any instruction that we believe:
        <ol>
          <li>was unclear;</li>
          <li>was not given by you;</li>
          <li>might cause us to breach a legal or other duty; or</li>
          <li>suggests Zopa is being used for an illegal purpose.</li>
        </ol>
      </li>
      <li>You must never tell anyone else your Passcodes (nor any codes(s) that protect access to your Nominated Account) or write them down without disguising them.</li>
      <li>You must tell us as soon as possible if you think that someone else knows your Passcodes (or any code(s) that protect access to your Nominated Account) or can use Zopa by impersonating you. Until you tell us:
        <ol>
          <li>you will be responsible for any instruction which we receive and act on, even if it was not given by you; and</li>
          <li>we will not be responsible for any unauthorised access to confidential Information about you on My Zopa.</li>
        </ol>
      </li>
      <li>We will do all that we reasonably can to prevent unauthorised access to My Zopa. As long as you have not broken the other terms contained in this Principle 3, we will accept liability for any loss or damage to you resulting directly from any unauthorised access to My Zopa (see Principle 14 for limits on our liability).</li>
      <li>My Zopa will show:
        <ol>
          <li>the amount (if any) in the Zopa Customers' Account that is credited to your Zopa Wallet; and</li>
          <li>the amount (if any) that you:
            <ol>
              <li>have lent; and/or</li>
              <li>have offered to borrow or have borrowed;</li>
            </ol>
            through the Lending Platform;
          </li>
          <li>certain personal details; and</li>
          <li>Information about the Lending Platform.</li>
        </ol>
      </li>
    </ol>

    <h2 id="lending">4. Zopa Lending</h2>

    <h3>Transfer of Funds You Wish To Lend</h3>
    <ol class="terms">
      <li>If you decide to lend using the Lending Platform, then in order to ensure that your loan funds are readily available for disbursement to Borrowers, you must first transfer the total amount you wish to lend into the Zopa Customers' Account by bank transfer or direct debit from your Nominated Account, or by debit card linked to your Nominated Account. Please always quote your unique
        reference when making such transfers. As part of the Lender registration process you may be required to give us details of your Nominated Account. All payments you make with your unique reference included will be recorded on My Zopa as a credit to your Zopa Wallet. The Zopa Customers’ Account is maintained and operated by us in accordance with Principle 7.
      </li>
      <li>When you transfer money to the Zopa Customers' Account, you agree that the transfer transaction is complete as soon as the amount you transferred has been credited to your Zopa Wallet.</li>
      <li>Zopa is permitted to make annual statements available to Lenders electronically and reserves the right to charge an administration fee of £10 for each paper copy of such statements or for statements covering a non-standard time period of time for which Zopa would not normally provide a statement.</li>
    </ol>

    <h3>Making Lending Offers via Zopa Markets</h3>
    <ol start="4" class="terms">
      <li>Once you have made a payment into the Zopa Customers' Account you must then log onto My Zopa and follow the instructions for setting your Lending Criteria and posting your Market Offer for lending to Borrowers who match those Lending Criteria. However, in certain circumstances you may be able to set up a Market Offer in advance of funds arriving, so that the Market Offer is posted
        automatically as soon as the funds arrive.
      </li>
      <li><strong>Loan Contracts:</strong> By posting a Market Offer you are offering to enter into a Loan Contract with a Borrower who meets your Lending Criteria, as a result of being matched with either a Borrower’s Confirmed Bid or another Lender’s request to assign their existing Loan Contract(s) using the Rapid Return Facility under Principle 4.9. Each Loan Contract will be for an amount
        of £10. To diversify the total amount you are offering, the maximum amount that you will lend to any one Borrower will be 2% of the total amount for which you have made a Market Offer (unless you are a Lending Business or you agree with us a different amount). For example, this means that you will lend to each Borrower: £20 under two £10 Loan Contracts when lending £1000; £40 under
        four £10 Loan Contracts when lending £2000; and £60 under six £10 Loan Contracts when lending £3,000. You will not be asked to confirm your Market Offer once it has been matched with a Borrower's Confirmed Bid or another Lender’s offer to assign an existing Loan Contract using the Rapid Return Facility. Each Loan Contract will be formed automatically when your Market Offer is matched
        with a Borrower’s Confirmed Bid (unless you are a Lending Business, in which case the Loan Contract is formed when the Borrower electronically counter-signs the credit agreement corresponding to your Market Offer). If your Market Offer is matched with another Lender’s offer to assign an existing Loan Contract using the Rapid Return Facility, you will become the Lender under those Loan
        Contracts at the time specified in Principle 4.9.1. Your Market Offer will remain open until either you withdraw it, or it is matched by the Lending Platform with Confirmed Bids made by Borrowers or with Loan Contract(s) being assigned by other Lenders using the Rapid Return Facility.
      </li>
      <li>
        <strong>Debiting Your Loan Funds:</strong> Once each of your Loan Contracts has formed, the amount you have lent will be deducted from your Zopa Wallet and be credited to the relevant Borrower's Zopa Wallet (net of any amounts specified in the Loan Contract as being payable by the Borrower to Zopa or any third party), unless:
        <ol>
          <li>you are becoming the Lender under an existing Loan Contract via the Rapid Return Facility, in which case the accounting shall be carried out in accordance with Principles 4.9; or</li>
          <li>you are a Lending Business, in which case your Zopa Wallet will be debited for the amount you have lent (net of amounts due to Zopa or any third party) after the Loan Contract has been approved</li>
        </ol>
        provided that, in each case, actual payment of the net loan amount to the Borrower’s Nominated Account (or directly to any third party specified in the Loan Contract(s)) is subject to us receiving the Information specified in Principle 5.3.1 and the satisfactory completion of the checks specified in Principle 5.3.2.
      </li>
    </ol>

    <h3>Repayments</h3>
    <ol start="7" class="terms">
      <li>The Borrower will set up a direct debit to pay to the Zopa Customers' Account the amount that is repayable to you and these amounts will be credited to your Zopa Wallet when received. You can log on to My Zopa and either re-offer these amounts manually or automatically (<strong>“Auto Top Up”</strong>), or request the payment of these amounts to your Nominated Account under Principle
        7.4.
      </li>
      <li><strong>Repayments and New Funds:</strong> To ensure the quality of the overall lending experience on the Lending Platform, amounts that are repaid to you by Borrowers, and which are re-offered using the Auto Top Up function, are added to your existing Market Offer, and are therefore subject to the diversification rule that already applies to that offer under Principle 4.5.
      </li>
    </ol>

    <h3>Accessing Funds Lent Before Repayment Is Due</h3>
    <ol start="9" class="terms">
      <li>If you need access to sums you have lent out before your Borrowers are due to pay it back, you can use the following process (<strong>"Rapid Return Facility"</strong>) to cash out some or all of your Loan Contracts by assigning them as follows:
        <ol>
          <li>You may make a request to cash out some or all of your Loan Contracts via the Rapid Return Facility <a href="/lending/access-your-money">here</a> (<strong>“Rapid Return Request”</strong>), subject to the criteria in Principle 4.9.4 below. On receipt of your Rapid Return Request, Zopa will attempt to match your request with another Lender's Market Offer
            during the period
            specified on screen at the time you make your Rapid Return Request. In the event of a match, the amount corresponding to the outstanding capital on each Loan Contract being assigned (the <strong>"Repayment Sum"</strong>) will be debited from the relevant incoming Lender’s Zopa Wallet and credited to your Zopa Wallet. On completion of the transfer of Repayment Sums, you irrevocably
            assign to each incoming Lender all your rights, title and interest in the Loan Contract(s) to which the respective Repayment Sums relate. Zopa will then notify the Borrowers of the assignment on behalf of you and the new Lender(s) accordingly, and the incoming Lender(s) shall become the Lender(s) with respect to those Loan Contracts.
          </li>
          <li>You may cancel your Rapid Return Request at any time in relation to any Loan Contracts that have not yet been assigned to an incoming Lender.</li>
          <li>In the event that any Market Loan you wish to cash out using the Rapid Return Facility is at a lower interest rate than any other Lenders’ Market Offer, you will incur a charge, payable to the incoming Lender, equivalent to the shortfall in interest that the incoming Lender would otherwise have received on that Loan Contract at the incoming Lender’s Market Offer rate.</li>
          <li>Zopa will charge you an administration fee for using the Rapid Return Facility, which will be levied on the Repayment Sums received for all your successful transfers made via the Rapid Return Facility. The amount of that fee may vary from time to time, but will always be specified whenever you use the Rapid Return Facility.</li>
          <li>Subject to any other restrictions specified on screen at the time you make your Rapid Return Request the Rapid Return Facility cannot be used in respect of the following loan types:
            <ol>
              <li>Loan Contracts that were made via Zopa Listings;</li>
              <li>for Loan Contracts not indicated as being covered by the Zopa Safeguard Trust, where the Borrower has ever missed a Repayment;</li>
              <li>Loan Contracts in relation to which there are currently missed Repayments;</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>

    <h2 id="borrowing">5. Borrowing</h2>

    <h3>Applying for a Zopa Loan</h3>
    <ol class="terms">
      <li>If you want to borrow through the Zopa Markets, you will have the opportunity to post Indicative Bids specifying your Borrowing Criteria.</li>
      <li>During the application process, you must also enter the details of your Nominated Account and set up a direct debit from that account to the Zopa Customers' Account, which will be used to make the Repayments due from you to the Lender under any Loan Contract you enter into.</li>
      <li>By posting Indicative Bids, you agree:
        <ol>
          <li>to provide us with certain additional Information which we will ask you for, and that if we discover that this additional Information and/or the Information you gave us during the application process was inaccurate or deficient in any respect, then the Loan Contract will be void and we will report this Information to credit reference and fraud
            agencies;
          </li>
          <li>to us checking your Credit Rating and the Information you provide us to assess the affordability of your Repayments. You acknowledge that credit reference agencies link together the records of you and anyone that you have advised is a financial associate (e.g. someone with whom you have a joint credit account) including previous and subsequent names of parties to the account.
            Links between financial associates will remain on your, and their, credit reference files until such time as you or your partner successfully files for a disassociation with the credit reference agencies. When assessing the affordability of your Repayments, we may take into account Information about your financial associates in your credit reference.
          </li>
        </ol>
      </li>
      <li>
          If you are provided with a Personalised Quote, you can accept it by posting Confirmed Bids. Your Confirmed Bids will either be matched with Market Offers, or not. If they are not matched,  your Confirmed Bids will lapse and have no further effect. Your Confirmed Bids could be randomly matched with either many small Market Offers from many different Lenders or a single Market Offer from a Lending Business (however, a Business Borrower may receive up to half of the total loan amount under the scheme referred to in Principle 5.8). Your projected Repayments will reflect the total amount to be borrowed from all your Lenders (or any single Lending Business), inclusive of the applicable Borrowing Fee.
      </li>
    </ol>

    <h3>Formation of Loan Contracts</h3>
    <ol start="5" class="terms">
      <li>By posting Confirmed Bids (and, if any of your Lenders is a Lending Business, electronically counter-sign the corresponding credit agreement) you are agreeing to accept each of the Market Offers that meets your Borrowing Criteria and is matched with your Confirmed Bids.</li>
      <li>A Loan Contract with each Lender will be formed when each of your Confirmed Bids is matched with the Lender’s Market Offer (unless your Lender is a Lending Business, in which case the Loan Contract is formed when you electronically counter-sign the credit agreement corresponding to that Lending Business’s Market Offer). Where you have Loan Contracts with more than one Lender, we will
        provide you with a Loan Contract Summary that includes the total amount of the Repayments you need to make, as if all the Loan Contracts you entered into in relation to your Confirmed Bids were a single agreement.
      </li>
    </ol>

    <h3>Disbursement of Loan Proceeds</h3>
    <ol start="7" class="terms">
      <li>At the point specified in Principle 4.6, we will provisionally credit your Zopa Wallet with the total amount you have borrowed, less any amounts specified in the Loan Contract as payable by you to us, but actual payment of this amount to your Nominated Account (or directly to any third party specified in the Loan Contract(s)) is subject to us receiving the Information specified in
        Principle 5.3.1 and the satisfactory completion of the checks specified in Principle 5.3.2.
      </li>
    </ol>

    <h3>Business Borrowers</h3>
    <ol start="8" class="terms">
      <li>A proportion of the funds offered to Business Borrowers has been provided from an investment administered by the Department for Business Innovation and Skills under the Small Business Tranche of the Business Finance Partnership programme. The objectives of the Small Business Tranche are primarily to increase the flow of credit from non-bank lending channels to companies with turnover
        below £75m across the UK and to diversify the sources of finance available to these businesses. Such funds are offered on equal terms with Lenders from the private sector. Neither the Department for Business Innovation and Skills nor any other government agency is involved with the operation or management of Zopa or the Lending Platform. The availability of such funds does not
        constitute an endorsement, recommendation or any warranty, either expressed or implied, on the part of the Department for Business Innovation and Skills concerning the activities and procedures of the Lending Platform.
      </li>
    </ol>

    <h2 id="loan-administration">6. Zopa Loan Administration</h2>

    <h3>Early Repayment</h3>
    <ol class="terms">
      <li>If you want to exercise a right to repay early under the Loan Contracts (which you may do so free of any charge, except for interest payable to the date of repayment), please email us at contactus@zopa.com.</li>
    </ol>

    <h3>Missed Repayments</h3>
    <ol start="2" class="terms">
      <li>If you miss a Repayment, or find yourself in financial difficulties and you believe you cannot afford to repay the amount due under any of your Loan Contracts, you should contact us as soon as possible by email to contactus@zopa.com. We will do the following:
        <ol>
          <li>explain the procedures we will apply and your options;</li>
          <li>tell you if your account is being passed to the Collections Agency.</li>
        </ol>
      </li>
      <li>As a Lender, only Zopa will communicate with you about any amount outstanding under your Loan Contracts.</li>
      <li>As a Borrower, you may be contacted about amounts outstanding under any of your Loan Contracts by Zopa, the Collections Agency or P2PS Limited, depending on:
        <ol>
          <li>the nature of the amount outstanding and for how long;</li>
          <li>which entity is required to send you a notice under Applicable Law;</li>
          <li>whether the Lender is a Lending Business; or</li>
          <li>whether your Loan Contract has been assigned to P2PS Limited.</li>
        </ol>
      </li>
      <li>You should tell Zopa or the Collections Agency, as the case may be, when your circumstances change in a way that may adversely impact your ability to repay the amount due under any of your Loan Contracts.</li>
      <li>If your relationship with Zopa or the Collections Agency has broken down, this will be included in the Information supplied to the credit reference agencies. You should be aware that this may have serious consequences for your ability to get credit in the future.</li>
    </ol>

    <h3>Assignment on Default, bankruptcy etc</h3>
    <ol start="7" class="terms">
      <li>Subject to the provisions of Principles 6.8 and 6.9, if one of the following events occurs:
        <ol>
          <li>a Borrower fails to pay the full amount of four Repayments then due and payable in relation to the Borrower’s Loan Contracts (a <strong>“Default”</strong>);</li>
          <li>we receive confirmation that the Borrower has died;</li>
          <li>the Borrower has entered into a terminal arrangement affecting the Borrower’s Loan Contracts (e.g. an individual voluntary arrangement, trust deed, debt arrangement scheme); or</li>
          <li>the Borrower becomes bankrupt (including being the subject of a Debt Relief Order),</li>
        </ol>
        then each relevant Lender hereby assigns to P2PS Limited (as defined in Principle 20) his or her right title and interest in each Loan Contract with that Borrower on the day we give notice of the relevant event to the Lender’s My Zopa.
      </li>
    </ol>

    <h3>Safeguard Claims</h3>
    <ol start="8" class="terms">
      <li>In the event that there is an assignment of Loan Contracts under Principle 6.7 and those Loan Contracts were indicated as being covered by the Zopa Safeguard Trust, each Lender makes a claim for payment of the amount outstanding under those Loan Contracts out of the Zopa Safeguard Trust (each a <strong>“Safeguard Claim”</strong>);

        <ol>
          <li>P2PS Limited shall have absolute discretion whether to approve or decline a Safeguard Claim, in whole or in part, for any reason so long as it acts as reasonably as a prudent trustee in its position acting reasonably would act;</li>

          <li>if P2PS Limited approves a Safeguard Claim under Principle 6.8.1, P2PS Limited shall pay the amount claimed to the Zopa Customers’ Account on the claiming Lender’s behalf, at which time that Lender may choose to either re-offer those funds in accordance with Principle 4 or request a transfer to the Lender’s Nominated Account under Principle 7.4;</li>

          <li>in the event that P2PS Limited declines a Safeguard Claim in whole or in part under Principle 6.8.1, P2PS Limited shall proceed to commence to recover the outstanding debt under the relevant Loan Contracts on the Lender’s behalf under Principle 6.9.2 (either wholly or on a pro rata basis according to any proportion that has been met through any partial approval of a Safeguard
            Claim).</li>
        </ol>
      </li>
    </ol>

    <h3>Business in the Community (formerly PRIME)</h3>
    <ol start="9" class="terms">
      <li>You agree that P2PS Limited shall pay to the Lender for the assignment of any Loan Contract made under the Business in the Community (formerly PRIME) Listing Scheme under Principle 6.7, an amount equal to not less than either 50% or 70% of the total amount then outstanding, depending on the percentage indicated by the original PRIME endorsement.</li>
    </ol>

    <h3>Collections After Assignment</h3>
    <ol start="10" class="terms">
      <li>Upon assignment of the Loan Contract to P2PS Limited under Principle 6.7, P2PS Limited will commence actions to recover the outstanding debt under that Loan Contract and:
        <ol>
          <li>in the event that a Safeguard Claim has been approved in respect of that Loan Contract under Principle 6.8.1, any sums recovered by P2PS Limited will be paid to the Zopa Safeguard Trust; or</li>
          <li>in the event that a Safeguard Claim has been declined in whole or in part in respect of that Loan Contract under Principle 6.8.1, any sums recovered by P2PS Limited will be paid to the relevant Lender (either wholly or on a pro rata basis according to any proportion that has been met through any partial approval of a Safeguard Claim);</li>
          <li>in the event that the Loan Contract was not indicated as being covered by the Zopa Safeguard Trust, any sums recovered by P2PS Limited (or by Zopa or the Collections Agency on behalf of P2PS Limited) will be paid to the relevant Lender,</li>
        </ol>
        in any case, subject to deduction of the costs of recovery incurred by Zopa, the Collections Agency and/or P2PS Limited (which shall be apportioned according to the proportion that each Loan Contract represented to the original total loan amount). P2PS Limited shall be entitled to deduct a sum equal to such costs of recovery from the Zopa Safeguard Funds Account and pay that sum to its
        own
        bank account in the event that a Safeguard Claim has been approved.
      </li>
    </ol>

    <h3>Repayment Date Changes</h3>
    <ol start="11" class="terms">
      <li>Zopa and each Lender understands that an occasional change in your personal and employment circumstances (other than an inability to make a payment at all) can mean that you may wish to change the date in the month upon which you wish to make your Repayments (<strong>“Repayment Date”</strong>), in which case:
        <ol>
          <li>You may ask Zopa to change the Repayment Date by notifying Zopa that you wish to do so and specifying the new date within the month upon which you wish your Repayments to take place. Such requests may be made by logging-in to My Zopa and following the instructions there, or by email to contactus@zopa.com or by calling us at the general contact number shown on the Lending
            Platform (such
            calls will be recorded to confirm your consent to the change).
          </li>
          <li>Depending on whether the revised Repayment Date is before or after the original Repayment Date in the month, the amount your next Repayment on the new Repayment Date will be adjusted to take account of the number of days between the new Repayment Date and the previous one. The remaining Repayments (assuming no further changes) will revert to the usual Repayment amount.</li>
          <li>Zopa will then acknowledge and confirm the new Repayment Date and any change to the amount of your next Repayment as a result, before effecting any change. Depending on how you request the change, this acknowledgement and confirmation will take place online, during the course of your telephone call or by an exchange of email with you.</li>
          <li>Zopa may request justification for the change to the repayment date and reserves the right not to complete the request if in its sole and absolute discretion it determines that the change is not due to an appropriate change in circumstances or that the process set out above is not being followed.</li>
        </ol>
      </li>
    </ol>

    <h3>Assignment Under The Loan Conditions</h3>
    <ol start="12" class="terms">
      <li>You acknowledge and agree that each Lender may freely assign or transfer or otherwise dispose of his or her right, title and interest in the Lender’s Loan Contract and all associated rights under the Zopa Principles to any third party via the Lending Platform (or any trading exchange or in any other manner approved by Zopa for that purpose), provided that your rights and obligations under any such Loan Contract that has been assigned of transferred shall not be adversely affected in any way whatsoever.</li>
    </ol>

    <h2 id="customers-account">7. The Zopa Customers' Account</h2>
    <ol class="terms">
      <li>We will hold in the Zopa Customers' Account the amounts you wish to lend, including amounts you have lent but have not yet been disbursed to the Borrower through the Lending Platform. These will be recorded as a credit to your Zopa Wallet which you can see by logging on to My Zopa. These amounts are held by us on trust in accordance with the applicable client money rules of the
        Financial Conduct Authority. In the event that interest is earned on any amounts held in the Zopa Customers' Account, we shall apportion such interest amongst the Zopa Customers on whose money this interest has accrued by crediting their respective Zopa Wallets accordingly on a monthly basis. We shall not keep any interest earned for our own account. The perpetuity period of any trust
        created pursuant to these Principles shall be 125 years.
      </li>
      <li>All payments by Lenders to Borrowers will be made through the Zopa Customers' Account.</li>
      <li>As a Borrower, you make your Repayments due under Loan Contracts by direct debit to the Zopa Customers' Account, which results in an initial credit and debit to your Zopa Wallet, and then a credit in each relevant Lender's Zopa Wallet.</li>
      <li>If you are a Lender, you can request through My Zopa the transfer of any amount you hold in your Zopa Wallet to your Nominated Account at any time, other than amounts that are the subject of matched Market Offers and have not yet been disbursed to the Borrower and any accrued, but uncharged, fees. If a Loan Contract is found to be void (e.g. after additional checks under Principle
        5.3.2) the amount you have lent under that Loan Contract will show in My Zopa as being available for you to re-offer on the Lending Platform or transfer to your Nominated Account as you see fit (subject to any restriction under Applicable Law).
      </li>
      <li>If your Zopa Wallet has funds in it and there has been no activity on the account for 18 months, at our discretion we will transfer those funds to your Nominated Account, or pay those funds to you by means of a cheque to your last known place of residence.</li>
    </ol>

    <h2 id="fees">8. Fees and Charges</h2>
    <ol class="terms">
      <li><strong>Borrowing Fee:</strong> Each time you make a successful Confirmed Bid to borrow money using the Lending Platform we will charge you a Borrowing Fee. Borrowing Fees are variable, and we may also waive, reduce or increase Borrowing Fees from time to time for promotional purposes or otherwise as we see fit at any time. However, we will always show the specific Borrowing Fee that
        will apply to a
        specific Confirmed Bid in a Personalised Quote (so you have the right not to proceed with a Loan Contract if you do not want to pay the Borrowing Fee).
      </li>
      <li><strong>Fast Track Fee:</strong> When you apply for a Confirmed Bid to borrow money using the Lending Platform, you have the option to request that, if your loan is approved, it will be disbursed to you as a Fast-Track payment. The fee for this service is £57.50 ("Fast Track Fee"). Where the Confirmed Bid is successful and you have requested Fast Track, Zopa will deduct the Fast Track
        Fee from the
        amount that will be disbursed to you (i.e. you will receive the total amount you have borrowed less the Fast Track Fee). As this is an entirely optional service the fee for which is payable to Zopa, it is not included in the APR calculation (unlike the Borrowing Fee).
      </li>
      <li><strong>Annual Lender Fee:</strong> We will charge each Lender an Annual Lender Fee for the services that we supply to Lenders under these Zopa Principles in relation to Loan Contracts under which the Borrower is not charged a Loan Servicing Fee. We may deduct your Annual Lender Fee from Repayments received from your Borrowers. We may waive or reduce this fee from time to time for promotional purposes or as we see fit. While we have no plans at all to increase the Annual
        Lender Fee, we
        reserve the right to do so at any time, but only after first changing the Zopa Principles and showing the increased fee as part of the process of offering to lend money at Zopa (so you have the right not to proceed with that offer if you do not want to pay a higher Annual Lender Fee).
      </li>
      <li><strong>Loan Servicing Fee:</strong> From 6 April 2015, as part of each Repayment under each Loan Contract between a Borrower and a Lender who is not a Lending Business, the Borrower shall pay to Zopa the monthly fee of up to 2% of the principal outstanding under the Loan Contract to cover the cost of administering Loan Contracts, including the receipt and distribution of Repayments and the cost of collecting missed Repayments (but excluding activity covered by the fees referred to in Principles 8.5, 8.6 and 8.7) (<strong>“Loan Servicing Fee”</strong>). For the avoidance of doubt, the Loan Servicing Fee shall apply to both new and existing Loan Contracts between a Borrower and a Lender who is not a Lending Business. We may waive or reduce the Loan Servicing Fee from time to time for promotional purposes or as we see fit.</li>
      <li><strong>Late Payment Fee:</strong> If you are late in making payment, the Collections Agency reserves the right to charge you an administration fee for the work it does in attempting to collect your Repayments (<strong>"Late Payment Fee"</strong>). The Late Payment Fee will be 22.5% of the amount that is overdue to your Lenders (which shall include any interest that accrues on overdue principal),
        except where a field
        agent has been employed as part of the collections process, in which case the Late Payment Fee will be 40% of the amount overdue. The Collections Agency reserves the right to waive or change the percentage charged (over which neither the Lender nor Zopa has any control).
      </li>
      <li><strong>Other fees or charges</strong> that may be charged by the Collections Agency are:
        <ul>
          <li>Tracing charges (finding you if we or the Collections Agency cannot contact you) - £25;</li>
          <li>Charges for document retrieval and copying up to 20 pages - £35;</li>
          <li>Debt counselling service fee (if you fall into arrears and we or the Collections Agency cannot contact you) - £80;</li>
          <li>Litigation costs and expenses, including legal fees and expenses, to cover litigation recover outstanding arrears, in which case -the Borrower will be advised of such costs and expenses if such action proves necessary.</li>
        </ul>
        The Collections Agency will notify you if these charges change in nature or amount.
      </li>
      <li><strong>Certain administration fees</strong> are specified where relevant in Principles 4.3, 4.9.2 and 11.9.</li>
      <li>You are also responsible for any related telecommunications charges, digital television subscription or other charges for the time you spend accessing the Lending Platform via the Internet or any wireless, television or other relevant network.</li>
    </ol>

    <h2 id="amendments-to-principles">9. Amendments to the Zopa Principles</h2>
    <ol class="terms">
      <li>We may vary the terms of the Zopa Principles from time to time to accommodate:
        <ol>
          <li>Zopa Customers' feedback;</li>
          <li>changes required by third party service providers;</li>
          <li>improvements in the Lending Platform;</li>
          <li>changes in Applicable Law;</li>
          <li>decisions or orders of any court, ombudsman, arbitrator, regulator or any undertakings given in one of these contexts.</li>
        </ol>
      </li>
      <li>These changes are shown in our Amendment History, which is set out at the start of these Principles, but if we have made major changes or a lot of minor changes, we will simply summarise the nature of the changes under the Amendment History. We will always try to give at least 30 days' notice by email or My Zopa before making the change. If you continue to use the Lending Platform
        after we have given you such notice you will have accepted the Zopa Principles, as amended.
      </li>
    </ol>

    <h2 id="close-account">10. Closing Your My Zopa account</h2>
    <ol class="terms">
      <li>Once all your Loan Contracts are repaid, you may terminate your Zopa registration by sending us an email to contactus@zopa.com and you will no longer be able to access the Lending Platform. However, we and the Collections Agency will continue to maintain records to the extent that we are required by law to do so.</li>
      <li>We may terminate your Zopa registration if you have lied to us, seriously or repeatedly breach the terms of these Principles, die, become bankrupt or make a voluntary arrangement with anyone you owe money to.</li>
      <li>We may either terminate or suspend your registration immediately and without notice if we are aware or reasonably suspect that you are engaged in, or may be the victim of, any fraudulent activity. We will then notify you of any such termination or suspension as soon as is reasonably practicable, to the extent we are permitted to do so by applicable law.</li>
    </ol>

    <h3>Effect of Termination</h3>
    <ol start="4" class="terms">
      <li>When we terminate your registration, we will send you the amount credited to your Zopa Wallet at that time to your Nominated Account, or by cheque to your last known place of residence. This will not affect your obligation to repay the amount you have borrowed under a Loan Contract.</li>
      <li>Following notice of termination of your registration, we will provide you with limited access to the Lending Platform and your MyZopa for a period of 7 days to download any of your Customer Content or Information relating to your Loan Contracts. Upon the expiry of that 7 day period, your access to your MyZopa and the Lending Platform will be terminated and we will have no obligation to
        store or provide you with access to any Information in your MyZopa or relating to your activity on the Lending Platform.
      </li>
    </ol>

    <h2 id="privacy">11. Privacy and Data Protection</h2>

    <h3>Service Messages</h3>
    <ol class="terms">
      <li>Zopa hates spam and will never send you unsolicited communications. There are some messages ("Service Messages") that we will need to send you. These may be sent via email, post or text message and include notifications about your loan application, Repayments or balance if you are a borrower and Information about your balance and account status if you are a lender. The full list is:
        <ol>
          <li>Welcome messages with the Information you need to get started;</li>
          <li>Legal Information about your borrowing and lending;</li>
          <li>Alerts about MyZopa;</li>
          <li>Updates about the progress of your loan or lending offers.</li>
        </ol>
      </li>
    </ol>

    <h3>Occasional Updates</h3>
    <ol start="2" class="terms">
      <li>When you register on Zopa you are offered the option to receive our occasional updates. These messages notify you about new features on the site, ask your opinion, and tell you about services you might not be using yet. We only send these messages when there is something worthwhile to tell you about. If you decide you no longer want to receive these messages you can change your contact
        preferences in the "My Contact Preferences" area once you're logged in.
      </li>
    </ol>

    <h3>General Operational Purposes</h3>
    <ol start="3" class="terms">
      <li>We as data controller may use your Personal Information for: statistical analysis; to develop and improve our products; to update your records; to identify which of our, or others', products might interest you; to assess lending and insurance risks; to arrange, underwrite and administer insurance and handle claims; to identify, prevent, detect or tackle fraud, money laundering
        and other crime; to carry out regulatory checks; keeping you informed about your lending or borrowing and for market research. In addition:
        <ol>
          <li>If false or inaccurate Information is provided and fraud is identified, details will be passed to fraud prevention agencies.</li>
          <li>Law enforcement agencies may access and use this Information.</li>
          <li>We and other organisations may also access and use this Information to prevent fraud and money laundering, for example, when:
            <ol>
              <li>checking details on applications for credit and credit-related or other facilities</li>
              <li>managing credit and credit-related accounts or facilities</li>
              <li>recovering debt</li>
              <li>checking details on proposals and claims for all types of insurance</li>
              <li>checking details of job applicants and employees</li>
            </ol>
          </li>
          <li>Please contact us at contactus@zopa.com if you want to receive details of the relevant fraud prevention agencies.</li>
          <li>We and other organisations may access and use from other countries the Information recorded by fraud prevention agencies.</li>
        </ol>
      </li>
      <li>We will keep your Personal Information confidential and only give it to others for the purposes we explained when you applied to us, and:
        <ol>
          <li>if you ask us to or give us your permission to do so;</li>
          <li>to a credit reference agency to check your identity and to prevent fraud (they will also keep a record of your request and use it whenever anyone applies to be authenticated in your name);</li>
          <li>if you are a Borrower, to tell credit reference agencies that you have an account and how you run that account;</li>
          <li>to agents and subcontractors, acting for us or for Lenders, to use for the purpose of operating the Lending Platform or obtaining payment;</li>
          <li>to investigate, prevent or detect fraud or carry out checks against money laundering;</li>
          <li>to share Information via an organisation which provides a centralised application matching service which it collects from and about mortgage and/or credit applications, for the purpose of preventing and detecting fraud;</li>
          <li>to a reputable, licensed credit broker or lender in the event that you apply to borrow money at Zopa, your application is declined or the loan monies are otherwise unavailable and we reasonably believe that the credit broker or lender may be able to help you obtain a loan.  In these cases, the third party may use your personal information provided via the Zopa application to perform a soft search with a credit reference agency to check your eligibility for their products.  A soft search will not impact your credit rating;</li>
          <li>to trace debtors and recover debt;</li>
          <li>to meet our obligations to any relevant regulatory authority or taxing authority;</li>
          <li>if we have to by law, the law allows it, or it is in the public interest;</li>
          <li>if all of the assets which we use to operate the Lending Platform (or substantially all of them) are acquired by a third party, we may transfer personal Information we then hold to that party so that the acquirer can continue to operate the Lending Platform; and</li>
          <li>each Business Borrower may be contacted to provide Information that will be used for statistical purposes to assess the effectiveness of the Business Finance Partnership programme. Any such Information will be treated in aggregate and without specific reference to your business activities.</li>
        </ol>
      </li>
      <li>We will check your details with a fraud prevention agency or agencies, and if you give us false or inaccurate Information and we suspect fraud, we will record this. We and other organisations (including law enforcement agencies) may use, search and access these records from the UK and other countries (e.g. offshore operations of UK businesses) to:
        <ol>
          <li>help make decisions about credit and credit related services, for you;</li>
          <li>help make decisions on motor, household, credit, life and other insurance proposals and insurance claims, for you and members of your household;</li>
          <li>trace debtors, recover debt, prevent fraud, and to manage your accounts or insurance policies;</li>
          <li>check your identity to prevent money laundering, unless you furnish us with other satisfactory proof of identity;</li>
          <li>checking details of job applicants and employees;</li>
          <li>Please email contactus@zopa.com if you want to receive details of the relevant fraud prevention agencies.</li>
        </ol>
      </li>
      <li>Any credit reference agency you search through Zopa will keep a record of any search, and other Lenders may use it to assess applications they receive from you in the future.</li>
      <li>As a general rule, we will give you at least 28 days notice if we decide to file a default on your credit reference file. However, we may not always give you notice beforehand, for example, if we plan to take court action.</li>
    </ol>

    <h3>Transfer outside the UK or EEA</h3>
    <ol start="8" class="terms">
      <li>We may transfer your Personal Information abroad to countries whose Information protection laws are less strict than in the UK. If so, we will ensure the Information is held securely to standards as least as good as those in the UK and only used for the purposes set out in this clause.</li>
    </ol>

    <h3>Access to Your Personal Data</h3>
    <ol start="9" class="terms">
      <li>Under the Data Protection Act 1998, you have a right to access certain personal records we, credit reference agencies and fraud prevention agencies hold about you. This is called a "subject access request", which you can make by writing to us at contactus@zopa.com. A fee may be payable, but we will not charge you until we have told you how much the fee is and what it is for, and you
        have told us you still want to proceed.
      </li>
    </ol>

    <h3>Contacting Other Customers</h3>
    <ol start="10" class="terms">
      <li>We do not disclose your Personal Information to any other Zopa Customers unless it is necessary to enforce any of your Loan Contracts. If you receive such Information, you are not permitted to use it directly, other than in communication with us about your Loan Contracts.</li>
      <li>You agree that, in the course of generating and managing your Loan Contracts, and operating My Zopa, the Lending Platform will need to send to Lenders and their assignees or the Borrower, as the case may be, certain transactional Information (for example, unique identifier, loan amount and Repayment details) but not your full name, post code address or payment details. We will not be
        liable for any use or misuse of the transactional data by others, but you must inform us of any misuse of the Lending Platform of which you are aware.
      </li>
    </ol>

    <h3>Monitoring and Recording</h3>
    <ol start="12" class="terms">
      <li>We may monitor, record, store and use any telephone, email or other communication with you in order to check any instructions given to us, for training purposes, for crime prevention and to improve the quality of our customer service.</li>
    </ol>

    <h2 id="customer-content-and-use">12. Your Customer Content and Use of the Lending Platform</h2>
    <ol class="terms">
      <li>You represent, warrant and undertake that none of your Customer Content will violate or infringe upon the rights of any third party, including Intellectual Property Rights; or contain libellous, defamatory or otherwise unlawful material. In addition, you undertake not to use the Lending Platform or any part of the Zopa web site(s), blog or discussion board(s) to:
        <ol>
          <li>harvest or collect email addresses or other financial, personal or contact Information of Customers or other users from the Lending Platform by electronic or other means for the purposes of sending unsolicited communications or inviting any person to lend or borrow outside the Lending Platform;</li>
          <li>use the Lending Platform in any unlawful manner or in any other manner that could damage, disable, overload or impair the Lending Platform or the servers on which it is hosted;</li>
          <li>use automated scripts to collect Information from or otherwise interact with the Lending Platform;</li>
          <li>upload, post, publish, display, transmit, share, store or otherwise make available on the Lending Platform any Information that we may deem:
            <ol>
              <li>to be misleading, harmful, threatening, unlawful, libellous, defamatory, infringing of any intellectual property rights, abusive, inflammatory, harassing, vulgar, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially, ethnically or otherwise objectionable;</li>
              <li>to contain software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
              <li>to be unsolicited or unauthorised advertising, solicitations, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;</li>
              <li>to be the private Information of any third party, including, without limitation, addresses, phone numbers, email addresses, National Insurance numbers or other identifiers, credit card numbers and/or debit card numbers;</li>
              <li>to be an attempt to promote or market any goods or services for your own financial benefit;</li>
            </ol>
          </li>
          <li>register at Zopa more than once or register for at Zopa on behalf of an individual other than yourself, or register at Zopa on behalf of any entity without that entity's prior written authorisation;</li>
          <li>impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your age, your financial employment or personal circumstances or your affiliation with any person or entity; use or attempt to use another's account, service or system without authorisation from us, or create a false identity on the Lending Platform.</li>
          <li>solicit personal Information from anyone under 18 or solicit passwords or personally identifying Information for commercial or unlawful purposes;</li>
          <li>invite any person to lend or borrow money outside the Lending Platform or to transact on the basis of any change (other than a change agreed with Zopa) to these Principles, the Loan Conditions or any other terms or conditions contained in the Lending Platform.</li>
        </ol>
      </li>
      <li>You are solely responsible for your Customer Content. You may not post, transmit, or share Customer Content on the Lending Platform that you did not create or that you do not have permission to display, publish or post. You understand and agree that we may, but are not obligated to, review the Lending Platform and may delete or remove (without notice) any Zopa Information or Customer
        Content
        in our sole discretion, for any reason or no reason, including without limitation Customer Content that in our own absolute discretion violates any provision(s) of these Zopa Principles. You are solely responsible at your sole cost and expense for creating backup copies and replacing any Customer Content.
      </li>
      <li>When you post your Customer Content, you authorise and direct us to make such copies thereof as we deem necessary in order to facilitate the publication, display and storage of the Customer Content on the Lending Platform. By posting Customer Content to any part of the Lending Platform, you automatically grant, and you represent and warrant that you have the right to grant, to us an
        irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to use, copy, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute such Customer Content for any purpose on or in connection with the Lending Platform, Zopa web site(s), blog or discussion board(s) or the promotion thereof,
        to
        prepare derivative works of, or incorporate into other works, such Customer Content, and to grant and authorise sublicenses of the foregoing. You may remove your Customer Content from the Lending Platform at any time. If you choose to remove your Customer Content, the license granted above will automatically expire, however you acknowledge that we may retain archived copies of your
        Customer
        Content.
      </li>
      <li>You agree to indemnify and hold each other Customer, us, our subsidiaries and affiliates, and each of Zopa's directors, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with any of your Customer Content, your use of the
        Lending Platform, your conduct in connection with the Lending Platform or with other users of the Lending Platform, or any violation of these Zopa Principles or of any law or the rights of any third party.
      </li>
      <li>You are solely responsible for your interactions with other Zopa Customers. We reserve the right, but have no obligation, to monitor disputes between you and other users.</li>
    </ol>

    <h2 id="cookies">13. Cookies and IP Addresses</h2>
    <ol class="terms">
      <li>Zopa uses cookies to improve the performance of the Lending Platform and give you a better experience. <a href="/cookie-policy">Our Cookie Policy</a> explains what types of cookie we use, why and how to identify and delete them.</li>
      <li>Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our web site or the Lending Platform.</li>
      <li>When a visitor requests any web page from our web site or the Lending Platform, our web servers automatically obtain that visitor's domain name and IP address. The domain name and IP address reveal nothing personal about you other than the IP address from which you have accessed our site. We use this Information to examine our traffic in aggregate, to investigate abuse of our web site
        or the Lending Platform and its users, and/or to cooperate with law enforcement. We do not disseminate this Information to third parties except in aggregate
      </li>
    </ol>

    <h2 id="zopa-information">14. Use of Zopa Information</h2>
    <ol class="terms">
      <li>Zopa Information and all the Intellectual Property Rights in the Zopa Information is either owned by us or our licensors (for example, credit reference agencies). Any use of Zopa Information otherwise than in accordance with these Principles entitles us to cancel My Zopa. You may:
        <ol>
          <li>display Zopa Information on a computer screen or take a reasonable number of copies for your records or store the Zopa Information in electronic form on your computer, provided that such copies and any stored Zopa Information is only used for your own personal and non-commercial purposes (or, if you are a Lending Business, for use internally for your own internal business
            purposes and not for commercial exploitation);
          </li>
          <li>not reproduce, modify or in any other way commercially exploit any of the Zopa Information. In particular, but without limiting the generality of the previous sentence, you may not do any of the following without our prior written consent (which may be withheld for any reason):
            <ol>
              <li>redistribute any of the Zopa Information;</li>
              <li>remove any copyright, trade mark or other notice included with the Zopa Information;</li>
              <li>create a database in electronic or structured manual form by systematically downloading and storing all or any such Information.</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>

    <h2 id="lending-platform">15. Using Information on the Lending Platform</h2>
    <ol class="terms">
      <li>The Zopa Information may include personal credit scores, output from educational tools (including credit calculators designed to allow you to consider "what if" scenarios using pricing and other Information). None of this or any other aspect of the Zopa Information will provide more than indicative results, depending on the Information you have supplied, and cannot be relied upon as a
        guarantee of any particular result.
      </li>
      <li>We will use reasonable skill and care in the supply of the Zopa Information to you. Due to the number of third party sources from which the Zopa Information is obtained and the nature of distribution of Information via the Internet, we cannot guarantee, warrant or represent that:
        <ol>
          <li>the Zopa Information is complete, accurate, up-to-date or error-free;</li>
          <li>the Lending Platform or web site is virus free or that their operation will be continuous, uninterrupted or error-free.</li>
        </ol>
      </li>
      <li>The Lending Platform contains links to other Internet sites and telephone numbers for services provided by others. The availability of such third party sites, services or material does not constitute any form of recommendation, advice, endorsement or publication of any such third party sites, services or material and we are not responsible for their availability or Information.</li>
      <li>None of the Information on the Lending Platform, and in particular, neither the Customer Content nor the Zopa Information, can be relied upon by you or any third party as a guarantee of any particular result, nor does any such Information constitute any form of advice, recommendation or endorsement by us, and it is not intended to be relied upon by you as the basis for making (or
        refraining from making) any specific decision.
      </li>
      <li>You download the Information on the Lending Platform, and in particular the Customer Content and the Zopa Information, at your own discretion and will be exclusively responsible for any damage to your computer or any lost Information that results from you downloading any such Information.</li>
      <li>We are not responsible or liable in any manner for any Customer Content or any Information posted on the Lending Platform by third parties. Although we provide rules for user conduct and postings, we do not control and are not responsible for what Customers or other users post, display, upload, publish transmit or share on the Lending Platform and are not responsible for any
        Information
        that breaches or is of a kind that might breach any provision of these Zopa Principles. We are not responsible for the conduct, whether online or offline, of any Customer or other user of the Lending Platform.
      </li>
      <li>THE LENDING PLATFORM, THE CUSTOMER CONTENT, THE ZOPA INFORMATION AND ALL OTHER INFORMATION ON THE LENDING PLATFORM, ZOPA WEB SITE(S), ZOPA BLOG AND DISCUSSION BOARDS ARE PROVIDED "AS-IS" AND WE DISCLAIM ANY AND ALL REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
        NON-INFRINGEMENT. WE CANNOT GUARANTEE AND DO NOT PROMISE ANY SPECIFIC RESULTS FROM USE OF THE LENDING PLATFORM OR ANY INFORMATION ON IT. WE DO NOT REPRESENT OR WARRANT THAT SOFTWARE, CONTENT OR MATERIALS ON THE LENDING PLATFORM ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE OR THAT THE LENDING PLATFORM OR ITS SERVERS, OR ANY SOFTWARE APPLICATIONS ARE FREE OF VIRUSES OR OTHER
        HARMFUL COMPONENTS. THEREFORE, YOU SHOULD EXERCISE CAUTION IN THE USE AND DOWNLOADING OF ANY SUCH SOFTWARE, INFORMATION OR MATERIALS AND USE INDUSTRY-RECOGNISED SOFTWARE TO DETECT AND DISINFECT VIRUSES. WITHOUT LIMITING THE FOREGOING, YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN CUSTOMER CONTENT, ZOPA INFORMATION AND ALL OTHER INFORMATION, MATERIAL OR SOFTWARE
        (INCLUDING ANY MOBILE CLIENT) FROM OR THROUGH THE LENDING PLATFORM, ZOPA WEB SITE(S), BLOG AND DISCUSSION BOARD(S) AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR YOUR USE THEREOF AND ANY DAMAGES TO YOUR DEVICE OR COMPUTER SYSTEM, LOSS OF INFORMATION OR OTHER HARM OF ANY KIND THAT MAY RESULT.
      </li>
      <li>We reserve the right to change any and all Information, software and other items used or contained in the Lending Platform offered through the Lending Platform at any time without notice.</li>
      <li>You may not include a link to the Lending Platform in any other site, computer or network without our prior written consent and licence.</li>
    </ol>

    <h2 id="liability">16. Limits on Liability</h2>
    <ol class="terms">
      <li>We agree to:
        <ol>
          <li>act fairly, reasonably and responsibly in our dealings with you;</li>
          <li>not discriminate against any Zopa Customer because of their race, sex, disability, ethnic background or sexuality; and</li>
          <li>correct mistakes and handle complaints promptly in accordance with any agreed time periods.</li>
        </ol>
      </li>
      <li>Except as otherwise expressly stated in these principles, we shall only be liable for foreseeable loss or damage arising directly out of our own breach of these Principles, negligence or wilful misconduct.</li>
      <li>If you have lent money at Zopa while holding a Consumer Credit Licence issued by the Office of Fair Trading or when authorised by the Financial Conduct Authorityin, our liability to you on any basis whatsoever shall not exceed the total amount of revenue earned by Zopa in respect of transactions entered into by you via Zopa.</li>
      <li>We shall not be liable for any loss or damage arising out of or in connection with:
        <ol>
          <li>any error or inaccuracy in the Information entered by you or any other Zopa Customer;</li>
          <li>any negligence, breach of contract, misrepresentation or wilful misconduct in relation to the Loan Contracts or other uses of the Lending Platform (other than our own).</li>
        </ol>
      </li>
      <li>We shall not be liable for any indirect, special or consequential loss or damage, including loss or damage arising out of or in connection with lost Information, lost profits, damage to goodwill or business interruption, any delay or failure to perform its own obligations under these principles due to circumstances beyond our own reasonable control.</li>
      <li>Nothing in these principles shall exclude or limit the liability of either you or us for death or personal injury caused by our own negligent or fraudulent acts or omissions.</li>
    </ol>

    <h2 id="general">17. General</h2>
    <ol class="terms">
      <li><strong>Enforceability:</strong> If any part of the Zopa Principles that is not fundamental is found to be illegal or unenforceable, such finding will not affect the validity or enforceability of the remainder of the Zopa Principles.</li>
      <li><strong>Notices:</strong> You agree that all Information, notices, documents that we are entitled to send you electronically may be delivered to you at your My Zopa, or may be sent by post to your last known postal address. Any notices we give you shall be given in writing either via the Lending Platform to your My Zopa, in which case you will also receive by email to your email address specified in My Zopa from time to time a prompt to refer to your My Zopa, or may be sent by post to your last known postal address.</li>
      <li><strong>Records conclusive:</strong> The records kept in the Lending Platform shall be conclusive of the facts and matters they purport to record.</li>
      <li><strong>Trademarks:</strong> "ZOPA", and related design(s), are trademarks of Zopa Limited.</li>
      <li><strong>Waiver:</strong> If we do not strictly apply our rights under the Zopa Principles at any time, that will not prevent us from doing so later.</li>
      <li><strong>Choice of Law:</strong> These Principles are in English and governed by English law which shall also apply to the establishment of our relationship with you. We will only write and communicate with you in English.</li>
      <li><strong>Taxes:</strong> If any taxes apply to you as a result of entering into these Principles or any Loan Contract you must account for them yourself.</li>
    </ol>

    <h2 id="complaints">18. Complaints Handling Process</h2>
    <ol class="terms">
      <li> If you want to make a complaint about the Loan Contract or Zopa you can email contactus@zopa.com with brief details of your complaint and your account reference. Zopa will acknowledge your complaint within one business day. Zopa will then investigate and send you an initial response. This should take no longer than five business days. If you are not satisfied by Zopa's response, you may contact the Complaints Investigator or a Supervisor who will respond by email within a further five business days.
      </li>
      <li>If you are not satisfied then you can respond to their email requesting your response is escalated to the Head of Service Operations, who will respond to you within a final five business days.</li>
      <li>Within four weeks after receiving a complaint, we will send you either a final response or a response which explains why we are not in a position to resolve the complaint and or indicates when we will make further contact. Complaints that cannot be settled within eight weeks of the date of complaint may ultimately be referred to the Financial Ombudsman Service, who can be contacted by telephone on 08000234567 or at www.financial-ombudsman.org.uk. You also have the right to make a complaint directly to the Financial Ombudsman Service.
      </li>
      <li>If you wish to make a complaint about Zopa Repayment Protection (which we no longer sell and have not sold since April 2008), you should follow the complaints procedure outlined in the policy documentation. If you complain to us about the policy, we will refer you to the product provider.</li>
    </ol>

    <h2 id="legal-status">19. Our Legal and Regulatory Status and Supervision</h2>
    <p>Zopa Limited is:</p>
    <ul>
      <li>a company incorporated in England &amp; Wales under company registration number 05197592, having its registered office at 6th Floor, 90 Fetter Lane, London. EC4A 1EN;</li>
      <li>authorised and registered by the Financial Conduct Authority, and entered on the Financial Services Register under firm registration number 563134;</li>
      <li>registered with the Office of the Information Commissioner (registration number Z879078)</li>
      <li>a member of CIFAS</li>
    </ul>

    <h2 id="terms">20. Defined Terms</h2>
    <p>
      In these Principles the following words have the following meanings:
    </p>
    <dl>
      <dt>"Annual Lender Fee"</dt>
      <dd>means one per cent (1%) of the loan principal outstanding that each Lender has outstanding to Borrowers under Loan Contracts, except those in respect of which the Borrower is charged a Loan Servicing Fee and any Loan Contracts in respect of which one or more payments have been missed and have not been brought up to date;</dd>

      <dt>“Applicable Law”</dt>
      <dd>means all laws, regulations, rules and regulatory guidance applicable to the operation of the Lending Platform and/or the Loan Contracts;</dd>

      <dt>"Borrower"</dt>
      <dd>means a Zopa Customer who borrows money under a Loan Contract;</dd>

      <dt>"Borrowing Fee"</dt>
      <dd>means the fee charged by us for enabling you to borrow on the Lending Platform, as specified in your Personalised Quote and the subsequent Loan Contract (if agreed), and shall include an amount estimated by us to reflect the potential for a Default, based on the Credit Rating applicable to your Loan Contract and our assessment of whether there are sufficient funds in the Zopa Safeguard Trust,
      where applicable;</dd>

      <dt>"Borrowing Criteria"</dt>
      <dd>means the amount that you, as a potential Borrower, would like to borrow via the Lending Platform and the period over which you want to repay the amount borrowed;</dd>

      <dt>"Business Borrower"</dt>
      <dd>means a Borrower who satisfies the criteria specified in Principle 2.3;</dd>

      <dt>"Collections Agency"</dt>
      <dd>means Credit Resource Solutions Limited of Rosemount House, Rosemount Estate, Huddersfield Road, Elland, West Yorkshire HX5 0EE or such other duly authorised collections agency as may be appointed at any time under the terms of the Loan Contract;</dd>

      <dt>"Confirmed Bid"</dt>
      <dd>means a bid which a potential Borrower posts on the Lending Platform confirming an Indicative Bid;</dd>

      <dt>"Credit Rating"</dt>
      <dd>means a credit rating supplied by Equifax plc or such other credit reference agency that we may use from time to time in relation to a Zopa Customer for use in connection with the Lending Platform;</dd>

      <dt>"Customer Content"</dt>
      <dd>means Information that a Customer uploads, publishes or displays on or through the Lending Platform, Zopa web site(s) or Zopa's blog or discussion boards, or transmits to or shares with other Zopa Customers; and "your Customer Content" means Customer Content that you have so uploaded, published or displayed.</dd>

      <dt>“Default”</dt>
      <dd>has the meaning given to it in Principle 6.7;</dd>

      <dt>"Eligibility Criteria"</dt>
      <dd>means conditions set out in Principle 2 which you have to satisfy to be registered as a Zopa Customer;</dd>

      <dt>“Fast Track”</dt>
      <dd>means the process by which we disburse the proceeds of an approved Loan Contract under Principle 5.7 on the same day or next morning (depending on the time of day it was approved); </dd>

      <dt>"Indicative Bid"</dt>
      <dd>means a bid to borrow from each Lender, which a potential Borrower posts on the Lending Platform setting out his or her Borrowing Criteria;</dd>

      <dt>“Information”</dt>
      <dd>means any information (including text, numerics and still and moving images). </dd>

      <dt>“Intellectual Property Rights”</dt>
      <dd>means patents, rights to inventions, copyright and related rights, trade marks, business names and domain names, rights in get-up, goodwill and the right to sue for passing off, rights in designs, database rights, rights to use, and protect the confidentiality of, confidential information (including know-how), and all other intellectual property rights, in each
      case whether registered or unregistered and including all applications and rights to apply for and be granted, renewals or extensions of, and rights to claim priority from, such rights and all similar or equivalent rights or forms of protection which subsist or will subsist now or in the future in any part of the world.</dd>

      <dt>"Lender"</dt>
      <dd>means a Zopa Customer who lends money under a Loan Contract and, for the purposes of enforcing a Loan Contract, includes any person to whom a Lender has transferred his or her rights under that Loan Contract;</dd>

      <dt>"Lending Criteria"</dt>
      <dd>means the amount you wish to lend, the markets in which you wish to lend, the rate you are prepared to lend at and the period over which you are prepared to lend;</dd>

      <dt>"Lending Platform"</dt>
      <dd>means the peer-to-peer lending marketplace which Zopa operates at www.zopa.com for the purpose of matching Market Offers and Confirmed Bids;</dd>

      <dt>"Loan Conditions"</dt>
      <dd>means the standard terms and conditions displayed by the Lending Platform and agreed by each Lender and Borrower when he or she begins the process of making a Markets Offer or a Confirmed Bid, as the case may be;</dd>

      <dt>"Loan Contract"</dt>
      <dd>means the agreement, incorporating the Loan Conditions, that is agreed either:
        <ol>
          <li>when a Borrower's Confirmed Bid is matched with a Lender's Market Offer, recording a loan of to the specified Borrower from the specified Lender; or</li>
          <li>in the case of a credit agreement with a Lending Business, when the Borrower counter-signs the credit agreement corresponding to that Lending Business’s Market Offer);</li>
        </ol>
      </dd>

      <dt>“Loan Contract Summary”</dt>
      <dd>Means the summary of all the Loan Contracts entered into by the Borrower at or about the same time (where more than one Loan Contract is entered into);</dd>

      <dt>"Loan Servicing Fee"</dt>
      <dd>has the meaning given in Principle 8.4;</dd>

      <dt>"Market Offer"</dt>
      <dd>means an offer to lend to a Borrower, which a potential Lender posts on the Lending Platform, setting out his or her Lending Criteria;</dd>

      <dt>"My Zopa"</dt>
      <dd>means, in relation to each Zopa Customer, the part of our website which can only be accessed using that Zopa Customer's own Passcodes;</dd>

      <dt>"Nominated Account"</dt>
      <dd>means the current account you have with a UK bank from which you authorise us to collect Repayments under the direct debiting scheme, and/or to which we will make any payments due to you, as the case may be;</dd>

      <dt>"P2PS Limited"</dt>
      <dd>means the independent, not for profit company, limited by guarantee, incorporated in the UK, with its registered office at 2 Tombland Alley, Norwich, Norfolk, UK, NR3 1HL (Company No. 06800515) which is authorised and registered by the Financial Conduct Authority, and entered on the Financial Services Register under firm registration number 0626216;</dd>

      <dt>"Passcodes"</dt>
      <dd>means your unique email address, password, answers to security questions, which you specify when you register with us to use the Lending Platform;</dd>

      <dt>"Personal Information"</dt>
      <dd>means the Information we obtain about you from you, from our enquiries and from other organisations, such as credit reference and fraud prevention agencies. Examples of Personal Information include (1) Information from application and assessment forms; (2) your requests and instructions; (3) details and analysis of how you meet your obligations under this agreement or other agreements you have
      with us; and (4) other Information we get from making offers to you;</dd>

      <dt>"Personalised Quote"</dt>
      <dd>means a document provided to a prospective Borrower that shows (among other items), the amount of credit, term, APR, Borrowing Fee, rate of interest, the amount of interest and the total amount payable (in the event that the prospective Borrower’s Confirmed Bid is matched with a Market Offer from a Lending Business, this document will be in the form prescribed by Applicable Law);</dd>

      <dt>"Prohibited Sectors"</dt>
      <dd>means (1) the production of tobacco products or alcoholic drinks (other than locally based specialist producers of beers, wines and/or spirits); (2) the production, distribution or sale of arms, ammunition, weapons, military equipment and/or pornography; and (3) any activity which, in the reasonable opinion of the Secretary of State for Business, Innovation and Skills (a) poses or could pose a
      threat to national security or (b) results, or is likely to result in a Reputational Event;</dd>

      <dt>"Rapid Return Facility"</dt>
      <dd>means the process specified in Principle 4.9;</dd>

      <dt>“Repayment”</dt>
      <dd>means each instalment due and payable by the Borrower under each Loan Contract, which shall comprise principal and interest, as well as any amount otherwise due and payable by the Borrower under the Loan Contract;</dd>

      <dt>“Reputational Event”</dt>
      <dd>means the publication or broadcast (or proposed or threatened publication or broadcast) of any negative publicity, or publicity which might reasonably be expected to materially damage the reputation of the Secretary of State for Business, Innovation and Skills;</dd>

      <dt>“Safeguard Claim”</dt>
      <dd>has the meaning given in Principle 6.8;</dd>

      <dt>"Zopa"</dt>
      <dd>means Zopa Limited, whose details are provided in Principle 19;</dd>

      <dt>"Zopa Customer" (and “Customer”)</dt>
      <dd>means an individual or entity who has completed the registration process in Principle 2 and chosen his, her or its own Passcodes;</dd>

      <dt>"Zopa Information"</dt>
      <dd>means all Information delivered to you by us during your use of the Lending Platform (including but not limited to the credit report monitoring, personal credit scores and loan pricing Information), including all copyright, database rights and all other intellectual property rights in such Information;</dd>

      <dt>"Zopa Listings"</dt>
      <dd>means the internet marketplace which we previously operated for the purpose of enabling a Borrower to invite a Lender to post an offer to lend money to that Borrower;</dd>

      <dt>"Zopa Markets"</dt>
      <dd>means the internet marketplace which we operate for the purpose of matching Markets Offers and Confirmed Bids;</dd>

      <dt>"Zopa Customers' Account"</dt>
      <dd>means any segregated bank account we maintain with Royal Bank of Scotland (or such other UK bank as we may choose from time to time) for the sole purpose of holding funds to which Zopa Customers are beneficially entitled in accordance with these Principles and/or any Loan Contract;</dd>

      <dt>"Zopa Repayment Protection"</dt>
      <dd>means the payment protection insurance policy previously but no longer arranged by us with Pinnacle Insurance plc (trading as "Cardif Pinnacle") whose registered office is at Pinnacle House, A1 Barnet Way, Borehamwood, Hertfordshire WD6 2XX, (registered number 1007798), which is the subject of a separate insurance policy;</dd>

      <dt>“Zopa Safeguard Funds Account”</dt>
      <dd>means any segregated bank account maintained by P2PS Limited with such other UK bank as P2PS Limited may choose from time to time) for the sole purpose of holding funds to which Lenders are beneficially entitled under the provisions of the Zopa Safeguard Trust;</dd>

      <dt>“Zopa Safeguard Trust”</dt>
      <dd>means the trust, constituted by the payment of funds contributed by Borrowers as part of the Borrowing Fee, where their Loan Contracts are covered by the trust, which funds are held on trust by P2PS Limited for Lenders in accordance with Principle 1.3.4;</dd>

      <dt>"Zopa Wallet"</dt>
      <dd>means the portion of our database that records the amount we hold for you at any time in the Zopa Customers' Account.</dd>
    </dl>

  </div>
</div>
