- @pagetitle = 'Manage Lending || My Zopa'
- content_for :mainnav do
  = render "mainnav"
- content_for :subnav do
  = render "subnav"
- content_for :styles do
  = stylesheet_link_tag "content/manage"
.group
  .section.hero
    %div
      %p.back.only-screensize-xs
        %span.a11y Back to
        %a{:href => "/dashboard.html"} Dashboard
      %h1 Manage Lending
  =render "transferin"