@media screen {

/* forms
********************************************************************/

form {
  margin: 0;
  padding: 0;
}

fieldset {
  background-color: $color-bg-action;
  border-width: 0;
  border-radius: 4px;
  padding: $size-pad;

  .only-error {
    display: none;
  }
  &.error .only-error {
    display: inherit;
  }

  &.disabled {
    opacity: .5;

    .iframe {
      display: none;
    }

    label,
    input,
    a {
      pointer-events: none;
      cursor: default;
    }
  }
}

fieldset fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  p,
  ul,
  ol,
  dl,
  table {
    margin-bottom: .5em;
  }
}

legend {
  margin: 0;
  padding: 0 .1em;
}
form fieldset ol {
  list-style: none;
}
form fieldset ol:last-child {
  margin-bottom: 0;
}
form fieldset ol li {
  margin: 0 0 $size-vspace/2 0;
}


label,
.label {
  display: block;
  font-weight: 600;
  vertical-align: middle;
  margin-bottom: .2em;
}
.optional label {
  &:after,
  /* new style when hints go inside label */
  form.v2 & > span:first-child:after {
    content: " (optional)";
    color: #a8a8a8;
  }
  form.v2 &:after {
    content: '';
  }
}
#addresses .optional label:after {
  content: '';
}
label[for] {
  cursor: pointer;
}

input,
textarea,
button,
select,
optgroup,
option,
output,
meter,
progress,
.button,
.data {
  font: inherit;
  line-height: normal;
  margin: 0;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

optgroup {
  font-style: italic;
  font-weight: 600;
}
option {
  font-style: normal;
  font-weight: normal;
}

input,
button,
select,
textarea,
.data {
  color: inherit;
  background-color: $color-background;
  border: 2px solid #aaa;
  border-radius: 0.2em;
  padding: 0.35em;
  font-weight: normal;
  width: 100%;

  form.v2 & {
    max-width: 25em;
  }
}
select {
  padding: 0.3em;
}
input,
button,
select,
textarea {
  @include transition(border);
}

input:focus,
button:focus,
select:focus,
textarea:focus,
.button:focus {
  border-color: $color-action;
}

.error {
  input,
  button,
  select,
  textarea,
  .data {
    border-color: $color-negative;
    color: $color-text;
    font-weight: normal;
  }

  label,
  .label {
    color: $color-text;
  }

  input:focus,
  button:focus,
  select:focus,
  textarea:focus,
  .button:focus {
    border-color: $color-action;
  }
}

input[type=radio],
input[type=checkbox],
input[type=image] {
  padding: 0;
  border-style: none;
  background: transparent;
  width: auto;
}

textarea {
  min-height: 10em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  outline: 0;
  padding: 0;
}


/*____________ radio buttons and checkboxes ____________*/

.radiocheck {
  display: block;
  position: relative;
}

.radiocheck label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  padding: .3em 0;
}

/* hide original element */
.radiocheck input[type=checkbox],
.radiocheck input[type=radio] {
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5px;
}

.radiocheck input[type=checkbox] + label,
.radiocheck input[type=radio] + label {
  position: relative;
  margin-left: 29px;
}

/* make boxes */
.radiocheck input[type=checkbox] + label:before,
.radiocheck input[type=radio] + label:before {
  content: '';
  line-height: 1;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 2px;
  left: -29px;
  border: 2px solid #aaa;
  background-color: #fff;
  border-radius: 4px;
}
/* radio box is round */
.radiocheck input[type=radio] + label:before {
  border-radius: 15px;
}

/* focus */
.radiocheck input[type=checkbox]:focus + label:before,
.radiocheck input[type=radio]:focus + label:before {
  border-color: $color-action;
}

.error {
  .radiocheck input[type=checkbox] + label:before,
  .radiocheck input[type=radio] + label:before {
    border-color: $color-negative;
  }

  .radiocheck input[type=checkbox]:focus + label:before,
  .radiocheck input[type=radio]:focus + label:before {
    border-color: $color-action;
  }
}


/* make tick and bullet */
.radiocheck input[type=checkbox] + label:after,
.radiocheck input[type=radio] + label:after {
  content: '';
  opacity: 0;
  line-height: 1;
  width: 10px;
  height: 10px;
  position: absolute;
}

/* tick */
.radiocheck input[type=checkbox] + label:after {
  height: 5px;
  top: 9px;
  left: -23px;
  border: solid $color-text;
  border-width: 0 0 4px 4px;
  background: transparent;
  @include rotate(-45deg);
}

/* bullet */
.radiocheck input[type=radio] + label:after {
  top: 10px;
  left: -22px;
  background: $color-text;
  border-radius: 20px;
}

/* show/hide tick on hover and when checked */
.radiocheck input[type=checkbox]:hover + label:after,
.radiocheck input[type=radio]:hover + label:after {
  opacity: .2;
}
.radiocheck input[type=checkbox]:checked + label:after,
.radiocheck input[type=radio]:checked + label:after {
  opacity: 1;
}


/* undo styling in old IEs */

.oldie .radiocheck input[type=checkbox],
.oldie .radiocheck input[type=radio],
.ie8 .radiocheck input[type=checkbox],
.ie8 .radiocheck input[type=radio] {
  opacity: 1;
  position: static;
}

.oldie .radiocheck label,
.ie8 .radiocheck label {
  display: inline;
}

.oldie .radiocheck input[type=checkbox] + label,
.oldie .radiocheck input[type=radio] + label,
.ie8 .radiocheck input[type=checkbox] + label,
.ie8 .radiocheck input[type=radio] + label {
  margin-left: 0;
}
.ie8 .radiocheck input[type=checkbox] + label:before,
.ie8 .radiocheck input[type=radio] + label:before,
.ie8 .radiocheck input[type=checkbox] + label:after,
.ie8 .radiocheck input[type=radio] + label:after {
  display: none;
}

/* Password boxes have a bug with Webfonts in IE8 */

.ie8 input[type=password] {
  font-family: Arial;
}

/*____________ buttons ____________*/

input[type=submit],
input[type=button],
input[type=reset],
button,
a.button,
a[target="_blank"].button,
.button {
  cursor: pointer;
  overflow: visible;
  display: inline-block;
  width: auto;
  -webkit-appearance: none;

  color: #fff;
  background-color: $color-action;
  border-radius: .2em;
  border: 1px solid transparent;
  font-weight: 600;
  text-decoration: none;
  outline: none;

  font-size: 1.4em;
  padding: 0.25em 0.85em;
  text-align: center;
  @include transition(background);
}

/* @todo: create mixins for 'all buttons' and 'hover etc' */

input[type=submit]:hover:enabled,
input[type=button]:hover:enabled,
input[type=reset]:hover:enabled,
button:hover:enabled,
a.button:hover,
.button:hover,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
button:active,
a.button:active,
.button:active,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
button:focus,
a.button:focus,
.button:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darken($color-action, 10%);
}

/* IE8 seems to have a specificity issue */
.ie8 a.button:hover,
.ie8 a.button:active,
.ie8 a.button:focus {
  color: #fff;
}

input[type=submit].minor,
input[type=button].minor,
input[type=reset].minor,
button.minor,
a.button.minor,
.button.minor {
  font-size: 1.14em;
  padding: .1em 0.5em .15em;
}

input[type=submit].secondary,
input[type=button].secondary,
input[type=reset].secondary,
button.secondary,
a.button.secondary,
.button.secondary {
  color: $color-action;
  border-color: $color-bg-action;
  background-color: #f6fcff;
}

input[type=submit].secondary:hover:enabled,
input[type=button].secondary:hover:enabled,
input[type=reset].secondary:hover:enabled,
button.secondary:hover:enabled,
a.button.secondary:hover,
.button.secondary:hover,
input[type=submit].secondary:active,
input[type=button].secondary:active,
input[type=reset].secondary:active,
button.secondary:active,
a.button.secondary:active,
.button.secondary:active,
input[type=submit].secondary:focus,
input[type=button].secondary:focus,
input[type=reset].secondary:focus,
button.secondary:focus,
a.button.secondary:focus,
.button.secondary:focus {
  color: $color-action;
  background: lighten(#f6fcff, 10%);
}

/* IE8 seems to have a specificity issue */
.ie8 a.button.secondary:hover,
.ie8 a.button.secondary:active,
.ie8 a.button.secondary:focus {
  color: $color-action;
}

/* round buttons, to be used with single characters */
input.round,
button.round,
a.button.round,
.button.round {
  min-width: 0;
  border-radius: 50%;
  width: $size-h2;
  height: $size-h2;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}


a.disabled,
.disabled,
input[disabled],
.radiocheck input[disabled] + label:before,
select[disabled],
textarea[disabled],
button[disabled],
input[readonly],
textarea[readonly] {
  cursor: auto;
  opacity: .5;
}
input[readonly].readable,
textarea[readonly].readable {
  opacity: 1;
}
.radiocheck input[disabled]:hover:not(:checked) + label:after {
  opacity: 0;
}
.radiocheck input[disabled] + label {
  cursor: auto;
}

/* for when rows with buttons in them need to wrap at some point */
.button-row {
  margin-top: -.2em;
  margin-bottom: -.2em;
}
.button-row > * {
  margin-top: .2em;
  margin-bottom: .2em;
}

/* take the same space as a button */
.button-space {
  display: inline-block;
  border: 2px solid transparent; /* not sure why it needs 2px instead of 1px? */
  border-radius: .2em;
  font-weight: 600;
  font-size: 1.4em;
  padding: 0.25em 0.85em;
  text-align: center;
}
.button-space.minor {
  font-size: 1.14em;
  padding: .1em 0.5em .15em;
}


/*____________ fieldsets ____________*/

fieldset.done,
.units fieldset > .row.done {
  background-color: #f2f1e6;
}

.units fieldset {
  background-color: inherit;
  border-radius: 0;
  padding: 0;

  > .row {
    background-color: $color-bg-action;
    padding: $size-pad/2 $size-pad;
  }
}

form fieldset.field-units {
  & > div {
    margin-left: -$size-pad;
    margin-right: -$size-pad;
  }

  & > div > div,
  & > div > p {
    margin-left: $size-pad;
    margin-right: $size-pad;
  }

  > div {
    padding-bottom: $size-vspace;
    &:last-child {
      padding-bottom: 0;
    }
    & + div {
      border-top: 3px solid;
      padding-top: $size-vspace;
    }
  }
}

/*____________ options of radio buttons ____________*/

fieldset.options {
  p {
    margin: .25em (-$size-pad);
    padding: $size-pad;
    border-top: 1px solid #fff;
    line-height: 1;
  }
  p:first-child {
    border-width: 0;
    margin-top: 0;
    padding-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  p select {
    width: auto;
    padding: .1em;
  }

  p .radiocheck {
    display: inline;
    font-weight: normal;

    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      top: -2px;
    }
    input[type=checkbox] + label:after {
      top: 4px;
    }
    input[type=radio] + label:after {
      top: 5px;
    }
  }

  label {
    font-size: $size-h3;
    padding: 0;
  }

  span.hint {
    display: block;
    background-color: #fff;
    border-radius: 4px;
    font-size: 1em;
    padding: .5em;
    margin: .5em 0 0 1.8em;
  }
}


/*____________ if forms are too simple ____________*/

form.simple > div,
form.simple > fieldset,
fieldset.simple > div {
  max-width: 25em;
}


/*____________ shorter select boxes ____________*/

.date select,
.postcode select,
.select-group select {
  width: auto;
}


/*____________ button with spinning waiting gif ____________*/

button.wait span {
  background: shared-image-url('waiting.gif') no-repeat left center;
  display: inline-block;
  min-height: 26px;
  padding-left: 33px;
  margin: -.15em;
  font-size: .7em;
  line-height: 1.1;
  text-align: left;
  color: #000;
}

/*____________ button with padlock icon(secure) ____________*/

button.secure:before{
  content: "";
  background: shared-image-url("icons/padlock.png") no-repeat;
  display: inline-block;
  width: 12px;
  height: 17px;
  position: relative;
  top: 0;
  margin-right: .4em;
}



} /* @media screen */


/* size XS (e.g. phones)
********************************************************************/

@media only screen and (max-width: $screensize-xs) {

fieldset.options {
  label {
    font-size: 1em;
    padding: .25em 0;
  }
}

} /* @media */
