<% @loggedin = true %>
<% @audience = :lenders %>
<% @pagetitle = 'My Zopa lending dashboard' %>


<% content_for :subnav do%>
 <ul>
  
   <li class="active"><a href="lenders_isa.html">About Zopa ISAs</a></li>
   <li class=""><a href="products.html">Products</a></li>
   <!--<li><a href="statements.html">Manage lending</a></li>
   <li><a href="lend.html">Statements</a></li>
   <li><a href="withdraw.html">Loan book</a></li-->
 </ul>
<% end %>


<!-- END SECTION -->

<div class="section hero" id="how-zopa-works">
  <div class="group">
    <h1  style="text-align: center">Zopa ISAs</h1>
    <!--<h2  style="text-align: center">A new way to invest with us</h2> -->
    <p class="intro" style="text-align: center">A new way to invest with us</p>
    <br/>

    

<p class="video-wrap html5">
  <img class="ratio" src="//s3-eu-west-1.amazonaws.com/cdn.zopa.com/video/lending/animation-how-zopa-works.jpg" width="1280" height="720" alt="" />
  
    <video controls="controls" poster="//s3-eu-west-1.amazonaws.com/cdn.zopa.com/video/lending/animation-how-zopa-works.jpg" width="1280" height="720">
      <source src="//s3-eu-west-1.amazonaws.com/cdn.zopa.com/video/lending/animation-how-zopa-works-720.mp4" type="video/mp4" />
      <source src="//s3-eu-west-1.amazonaws.com/cdn.zopa.com/video/lending/animation-how-zopa-works-720.webm" type="video/webm" />
      
      <span class="fallback">
        Your browser does not support this video content.
        
          <a rel="external" href="https://www.youtube.com/watch?v=IVDwgykVnXQ">Watch the video on YouTube.</a>
        
      </span>
    </video>
  
</p>


    <p class="transcript-trigger"><a href="#video-transcript" class="show-more hint"><span>Show</span> transcript</a></p>

    <div id="video-transcript">
      <h3>Transcript</h3>
      <p>Lorem ipsum</p>
    </div>

  </div>
  <br/>
  <div class="row group">
    <div class="col third1">
      <p  style="text-align: center"><a href="#earnings" class="button minor secondary"  style="width: 100%">More about ISAs</a></p>
    </div>
    <div class="col third1">
      <p  style="text-align: center"><a href="#why" class="button minor secondary" style="width: 100%">Why choose Zopa</a></p>
    </div>
    <div class="col third1">
      <p  style="text-align: center"><a href="#how" class="button minor secondary" style="width: 100%">How Zopa ISAs work</a></p>
    </div>
  </div>
  <br/>
  <div class="row group">
    <div>
      <p style="text-align: center"><a href="products" class="button">View Zopa ISA products</a></p>
    </div>
  </div>
</div>

<!-- END SECTION -->


<div class="section" id="earnings">
  <div>

   <h2 style="text-align: center">Say hello to Innovative Finance ISAs</h2>
   <br/>
   <div><p><img src="http://placehold.it/1600x900"/></p></div>
   <br/>
   <div class="row group">
      <div class="col third2">
        <p>The Innovative Finance ISA (IF-ISA) was launched earlier this year as the newest member of the ISA family. With it, you can earn tax-free interest on your peer-to-peer investments (up to your tax-yearly allowance of <b>£15,240</b>).</p>
        <br/>
        <h3>How many ISAs can I have?</h3>
        <h4>Current year</h4>
        <p>You can split your tax-free allowance across 3 ISAs per tax year: one each of cash, stocks and shares, and innovative finance.</p>
        <h4>Previous years</h4>
        <p>There’s no limit on the number of ISAs you can have for your previous years ISA balances. You can transfer some or all of your historic ISA balance to a new provider. Be sure to check if your current provider imposes any penalties on this kind of activity, and always use the ISA transfer process to keep your funds’ tax-free earnings status.</p>
      </div>
      <div class="col third1 info box">
        <h3>What's an ISA?</h3>
        <p >An ISA is an individual savings account which allows individuals to hold cash, shares, and now peer-to-peer investments to earn tax-free interest on savings up to £15,240</p>
      </div>
    </div>


  </div>
</div>



<div class="section" id="why">
  <div>
    <h2 style="text-align: center">Why choose a Zopa ISA</h2>
    <br/>
    <div class="row group">
      <div class="col third1">
        <img src="http://placehold.it/350"/>
        <h3>Great rates</h3>
        <p>The predicted return on a Zopa ISA is higher than a typical Cash ISA (which paid on average 1.17% annual interest in January 2016) and is less volatile than stocks and shares.</p>
      </div>

      <div class="col third1">
        <img src="http://placehold.it/350"/>
        <h3>Flexibility</h3>
        <p>Unlike previous years, with a Zopa flexible ISA any amount you withdraw from your ISA can be replaced without impacting your yearly tax-free allowance.</p>
      </div>

      <div class="col third1">
        <img src="http://placehold.it/350"/>
        <h3>ISA transfers</h3>
        <p>It’s straightforward to transfer your existing ISA into a Zopa ISA. Simply register your interest and when we’re happy with lending speeds, we’ll get in touch to start the transfer.</p>
      </div>

    </div>
    <br/>
    <hr/>
    <br/>
    <div>
      <p class="hint" style="text-align: center">It’s important to remember that in all peer to peer lending your capital is at risk and your investments are not covered by the Financial Services Compensation Scheme. Our <strong><a href="/lending/what-are-the-risks">risk statement</a></strong> has the details.</p>
    </div>

  </div>
</div>


<div class="section" id="how">
  <div>
    <h2  style="text-align: center">How Zopa ISAs work</h2>
    <br/>
    <p style="text-align: center">Our lending products already offer a higher rate of interest than high street banks, and these same rates apply to our ISAs. Simply select your product, read through the risks and rewards, and select the ISA that’s right for you.</p>
    <br/>
    <div class="row group">
      

      <div style="text-align: center" class="col third1  info box">
        <p ><img src='//d2u32rzy9n32nt.cloudfront.net/images/content/views/lending/logo-access.d74179a4310a3b9d0ab5feb2d8735047.svg' alt='' width='58' height='63' /></p>
        <h2>Zopa ISA-Access</h2>
        <p>Great if you want to dip into your money occasionally.</p>
      </div>

      <div style="text-align: center" class="col third1  info box">
        <p ><img src='//d2u32rzy9n32nt.cloudfront.net/images/content/views/lending/logo-classic.e9fe83ea4ca94e208ea314c770e2883f.svg' alt='' width='48' height='62' /></p>
        <h2>Zopa ISA-Classic</h2>
        <p>Great if you want to leave your money to grow.</p>
      </div>

      <div style="text-align: center" class="col third1  info box">
        <p ><img src='//d2u32rzy9n32nt.cloudfront.net/images/content/views/lending/logo-plus.ea3ec122978db0ab39dee04eda7976dd.svg' alt='' width='54' height='62' /></p>
        <h2>Zopa ISA-Plus</h2>
        <p>Great if you want a higher return for more risk.</p>
      </div>


      <br/>
    </div>
    <br/>
    <h3  style="text-align: center">In perfect harmony with your existing Zopa product(s)</h3>
    <br/>
    <p style="text-align: center">A Zopa ISA is a seperate thingy to our other products .... EMMA COPY HELP </p>
    <p style="text-align: center">But don't worry, it’s straightforward to move money from a regular Zopa product to a Zopa ISA. Just move queued money or sell loans in your existing products and once it appears in Holding you will be able to push it into your new ISA products.</p>
    <br/>
    <div><p><img src="http://placehold.it/1600x900"/></p></div>
    <br/>
    <div  style="text-align: center">
    <p style="text-align: center"><a href="products" class="button">View Zopa ISA products</a></p>
    </div>
    <br/>
    <hr/>
    <h3  style="text-align: center">Want to transfer an existing ISA from another provider?</h3>
    <p>TO DOOOOOOOO</p>

      

  </div>
</div>







<% content_for :scripts do %>
  <%= javascript_include_tag "vendor/highcharts" %>
  <script>
    $(function () {
      Highcharts.theme = {
        colors: ['#CFE8CC', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
      };
      // Apply the theme
      var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    });

    $(function () {
        $('#bars').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Pounds (£)'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '<b style="color:#00913c;">£{point.y:.2f}</b>'
            },
            series: [{
                name: 'Value',
                data: [
                    ['January 2015', 102.11],
                    ['Febuary 2015', 112.73],
                    ['March 2015', 138.10],
                    ['April 2015', 125.99],
                    ['May 2015', 122.30],
                    ['June 2015', 118.48],
                    ['July 2015', 148.19],
                    ['August 2015', 151.36]
                  ]
            }]
        });
    });
  </script>
<% end %>



<% content_for :styles do %>
  <style>
    @media screen {
      #bars rect.highcharts-background {
        fill: whitesmoke;
      }

      th {
        vertical-align: bottom;"
      }
      table.rows td {
          padding: .75em;
      }
      #lending-account-details table.alt.rows {
        border: 0 !important;
        border-width: 0 !important;
      }
      #lending-account-details table.alt.rows .highlight {
        background-color: #fff;
        font-size: 1.2em;
      }
      #lending-account-details table {
        width: 100%;
      }
      #lending-account-details table .show-more {
        display: block;
      }
      #lending-account-details table .number {
        font-weight: 600;
        width: 120px; /* so that show/hiding the table underneath doesn't make everything jump */
      }
      #lending-account-details table td.number  {
        font-size:25px;
        font-weight:bold;
        letter-spacing:-1px;
        color:#00913c;
        padding:10px;
      }
      #lending-account-details table table .number {
        width: auto;
      }
      #lending-account-details table .hint {
        display: block;
      }
      #lending-account-details table .hint {
        color: #444034;
      }

      #queue-details table,
      #recent-lending-details table {
        background-color: whitesmoke;
      }
      #queue-details .position p,
      #recent-lending-details .position p {
        font-size: .85em;
        margin-bottom: .2em;
      }
    }


    @media only screen and (max-width: 601px) {
      #lending-account-details table .button-row span {
        display: none;
      }

      #lending-account-details table td {
        display: block;
        border-width: 0;
        padding: 0 .5em .5em;
      }
      #lending-account-details table td:last-child {
        border-bottom-width: 1px;
      }
      #lending-account-details table td:first-child {
        padding-top: .5em;
      }
      #lending-account-details table td.number,
      #lending-account-details table td.more {
        text-align: left;
      }
      #lending-account-details table td.number {
        padding-bottom: .2em;
      }
    }
  </style>
<% end %>
