<div id="contact" class="contact section">
  <div class="group">
    <h2>Got a question?</h2>
    <p>
      Call us: <strong>020 7580 6060</strong><br>
      Email: <a href="mailto:contactus@zopa.com">contactus@zopa.com</a>
    </p>
    <p class="hint">
      <strong>Please note:</strong>
      Calls may be monitored or recorded.
    </p>
  </div>
</div>

<div id="footer" class="section">
  <hr class="a11y" />
  <div class="group">
    <h2 class="a11y">Sitemap</h2>
    <div class="col-4">
      <h3>About Zopa</h3>
      <ul>
        <li><a href="/404.html">About Zopa</a></li>
        <li><a href="/404.html">Peer-to-peer lending</a></li>
        <li><a href="/404.html">Working at Zopa</a></li>
        <li><a href="/404.html">Blog</a></li>
        <li><a href="/404.html">Press office</a></li>
        <li><a href="/404.html">Contact Zopa</a></li>
      </ul>
    </div><div class="col-4"><!-- no spaces between div's are intentional - inline-block thing -->
      <h3>Loans</h3>
      <ul>
        <li><a href="/404.html">Zopa loans</a></li>
        <li><a href="/404.html">Credit cards</a></li>
        <li><a href="/404.html">Debt consolidation</a></li>
        <li><a href="/404.html">Home improvements</a></li>
        <li><a href="/404.html">Car finance</a></li>
        <li><a href="/404.html">Weddings</a></li>
        <li><a href="/404.html">Business loans</a></li>
        <li><a href="/404.html">Loan reviews</a></li>
      </ul>
    </div><div class="col-4">
      <h3>Lend your money</h3>
      <ul>
        <li><a href="/404.html">Lending at Zopa</a></li>
        <li><a href="/404.html">How lending works</a></li>
        <li><a href="/404.html">Who are Zopa?</a></li>
        <li><a href="/404.html">Why choose us?</a></li>
        <li><a href="/404.html">Lending experts</a></li>
        <li><a href="/404.html">Who uses Zopa?</a></li>
        <li><a href="/404.html">Interest calculator</a></li>
        <li><a href="/404.html">Financial advisors</a></li>
        <li><a href="/404.html">FAQs</a></li>
      </ul>
    </div><div class="col-4 utilities">
      <h3>Utilities</h3>
      <p class="logo"><a href="/404.html"><%= image_tag 'logo.png', alt: 'Zopa', width: 166, height: 109 %></a></p>
      <ul>
        <li class="home"><a href="/404.html">Homepage</a></li>
        <li><a href="/404.html">Sitemap</a></li>
        <li><a href="/404.html">Privacy policy</a></li>
        <li><a href="/404.html">Principles</a></li>
        <li><a href="/404.html">Cookie policy</a></li>
        <li><a href="/404.html">Conflicts policy</a></li>
      </ul>
    </div>

    <h3 class="a11y">Social media</h3>
    <ul class="social">
      <li><a class="twitter" href="/404.html" title="Find us on Twitter">Twitter</a></li>
      <li><a class="facebook" href="/404.html" title="Find us on Facebook">Facebook</a></li>
      <li><a class="google-plus" href="/404.html" title="Find us on Google+">Google+</a></li>
    </ul>


    <p>
      © Zopa Limited 2015 All rights reserved. 'Zopa' and the Zopa logo are trade marks of Zopa Limited.
      Zopa is a member of CIFAS - the UK's leading anti-fraud association, and we are registered with the Office of the Information Commissioner (No. Z879078).
    </p>

    <p>Zopa Limited is incorporated in England &amp; Wales (registration number 05197592), with its registered office at 6th Floor, 90 Fetter Lane, London. EC4A 1EN. Zopa Limited is authorised and regulated by the Financial Conduct Authority, and entered on the Financial Services Register under firm registration number 563134. </p>

    <p>Contact Zopa on 020 7580 6060. Calls may be monitored or recorded.</p>
  </div>
</div>
