<div id="header" class="group">
  <div class="logo area">
    <div>
      <a href="/404.html" title="Back to homepage"><%= image_tag 'logo-header.png', alt: 'Zopa', width: 188, height: 130 %></a>
        <span class="env">Prototype</span>
    </div>
    <a href="#content" class="a11y skip">Skip to content</a>
  </div>

  <%= render :partial => "/_includes/nav/mainnav"%>
  <%= render :partial => "/_includes/nav/subnav"%>
</div>

<hr class="a11y" />
